.content{
    background-color: white;
    width: 600px;
    box-shadow: 1px 2px 2px rgb(193, 199, 193);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.btn{
    margin-top: 20px;
    background-color: rgb(43, 110, 226);
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 13px;
    border: none;
    margin-right: 30px;
    
}

.text{
    display: block;
    word-break: break-all;
}
.generate{
    color: gray;
    margin-right: 31px;
}

.title{
    display: block;
        margin-bottom: 10px;
        font-size: 20px;

}

.cant{
    margin-top: 20px;
    background-color: rgb(202, 202, 202);
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 13px;
    border: none;
    margin-right: 30px;
}

.result{
    display: flex;
}